


@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');


body{
   
   font-size: var(--fs-12);
   font-family:var(--font-arial)
    color #222;
}
.menu a{
 color: var(--white);
 text-decoration: none;

}
nav ul li{
    display: inline-block;
}
nav .promocional{
    text-align: right;
}


nav .promocional img{
    width: 100%;
    min-width: 300px;
   
}
.carousel{
    height: 200px;
    }
    

.ptoduto {
    padding: 0 5px;
    height: 200px;
}
.carousel img{
    height: 200px;
}


    
   

   

    

    




/*Nav*/



   


    








